<template>
  <template if:true={isLoading}>
    <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
  </template>
  <template if:false={isLoading}>
    <c-grv-email-management-data-table
      hide-checkbox-column
      key-field="id"
      data={rows}
      columns={columns}
      min-column-width="32">
    </c-grv-email-management-data-table>
  </template>
</template>