<template>
  <template if:true={emailOptOut}>
    <div class="slds-notify slds-notify_alert" role="alert">
      <span class="slds-assistive-text">info</span>
      <span class="slds-icon_container slds-icon-utility-user slds-m-right_x-small" title="Description of icon when needed">
        <lightning-icon icon-name="utility:user" variant="inverse" size="x-small"></lightning-icon>
      </span>
      <h2>{message}</h2>
    </div>
  </template>
</template>