<template>
  <template if:true={recordId}>
    <div class="slds-page-header">
      <div class="slds-grid">
        <div class="slds-grid slds-grid_vertical-align-center">
          <lightning-icon icon-name="standard:opportunity" class="slds-m-right_x-small"></lightning-icon>
          <div class="slds-page-header__title">
            <lightning-formatted-url 
              value={opportunityUrl} 
              label={opportunityName} 
              target="_blank">
            </lightning-formatted-url>
          </div>
        </div>
      </div>
    </div>
    <lightning-record-view-form
      record-id={recordId}
      object-api-name="Opportunity"
      density="comfy">
          <div class="slds-p-around_small">
            <template for:each={oppFields} for:item="field">
              <!-- <p key={field.name}>{field.label} : {field.value}</p> -->
               <lightning-output-field key={field.name} field-name={field.name}>
              </lightning-output-field>
            </template> 
          </div>
      </lightning-record-view-form>
  </template>
  <template if:false={recordId}>
    <c-grv-illustration name="No Content" text="Opportunity is not linked to the selected message."></c-grv-illustration>
  </template>
</template>