<template>
  <lightning-input 
    class="slds-var-p-horizontal_x-small" 
    type="checkbox" 
    variant="label-hidden" 
    name="input1"
    onchange={handleCheckboxChange}>
  </lightning-input>
</template>