<template>
  <div class="slds-card">
    <div class="slds-card__body slds-var-p-horizontal_small">
      <lightning-spinner  
        if:true={isLoading}
        alternative-text="Loading" 
        size="small">
      </lightning-spinner>
      <template if:true={dealInfo.CDK_Deal_Inserted_Date__c}>
        <div class="slds-grid slds-grid_align-center slds-grid_vertical-align-center">
          <lightning-icon 
            icon-name="action:approval" 
            size="xx-small">
          </lightning-icon>
          <lightning-formatted-date-time 
            class="slds-var-p-left_small"
            value={dealInfo.CDK_Deal_Inserted_Date__c} 
            year="numeric" 
            day="2-digit" 
            month="long" 
            hour="2-digit"
            minute="2-digit"
            time-zone="America/Los_Angeles">
          </lightning-formatted-date-time>
          <div class="slds-var-p-left_x-small">(Deal: {dealInfo.CDK_Deal_Number__c})</div>
        </div>
      </template>
      <template if:false={dealInfo.CDK_Deal_Inserted_Date__c}>
        <button 
          class="slds-button slds-button_success slds-button_stretch " 
          onclick={handleDealInsert}
          disabled={isDisabled}>
          Deal Insert
        </button>
        <template if:true={isDisabled}>
          <div class="blockquote slds-p-around_x-small slds-m-top_xx-small">
            <div>{validationMessage}</div>
          </div> 
        </template>
        <template if:false={insertResult.success}>
          <p>{insertResult.message}</p>
        </template>
      </template>
    </div>
  </div>
</template>