<template>
  <lightning-formatted-url 
    style="margin-left: 0.5rem;" 
    value={url} 
    tooltip={recId} 
    label={label} 
    onclick={deleteOpener} 
    target="_blank">
  </lightning-formatted-url>
</template>