.container {
  height: 100%;
}

.container-right {
  width: calc(100% - 20rem);
  background-color: var(--lwc-colorBackgroundAlt,rgb(255, 255, 255));
}

.container-right_table {
  /* height: 46%; */
  min-height: 330px;
}

.data-table {
  display: block;
  height: calc(100% - 32px);
}

.container-right_table-pagination {
  height: 32px;
  background-color: rgb(250, 250, 249);
}

.border {
  border: 1px dashed #cdcdcd;
}

.overflow-scroll {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}