<template>
  <!-- <lightning-input-rich-text formats="font, bold, italic, underline, strike, list, indent, align,
              link, image, clean, code, code-block, color, background, mention, header, blockquote"></lightning-input-rich-text> -->
  <div class="slds-grid container">
    <c-grv-email-management-sidebar
      selected-records={selectedRecords} 
      onrefresh={handleRefresh}
      onfilterchange={handleFilterChange}
      ondelete={handleRecordsDelete}>
    </c-grv-email-management-sidebar>
    <div class="container-right slds-grid slds-grid_vertical slds-var-p-around_large">
      <div class="container-right_table">
          <c-grv-email-management-data 
            class="data-table"
            rows={messages} 
            is-loading={isLoading}
            onrecordselect={handleRecordSelect}
            onrecordclick={handleRecordClick}>
          </c-grv-email-management-data>
        <div class="container-right_table-pagination slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-var-p-horizontal_small">
          <div>Page {pagination.currentPage} of {pagination.totalPages}</div>
          <div>
            <lightning-button-icon 
              disabled={paginationPrevDisabled}
              onclick={handlePrevButtonClick}
              class="slds-var-p-right_x-small"
              icon-name="utility:back" 
              size="small"
              alternative-text="Previous page" 
              title="Previous page">
            </lightning-button-icon>
            <lightning-button-icon 
              disabled={paginationNextDisabled}
              onclick={handleNextButtonClick}
              icon-name="utility:forward"  
              size="small"
              alternative-text="Next page" 
              title="Next page">
            </lightning-button-icon>
          </div>
        </div>
      </div>
      <div class="slds-grid border" style="height: calc(100% - 330px);">
        <div class="container-right_email slds-size_4-of-6 overflow-scroll">
          <c-grv-email-management-message 
            message={openedMessage} 
            loading={isMessageLoading}
            onreply={handleMessageAction}>
          </c-grv-email-management-message>
        </div>
        <div class="container-right_record slds-size_2-of-6 overflow-scroll">
          <c-grv-email-management-opportunity-view 
            record-id={openedOpportunityId}
            record-name={openedOpportunityName}
            opp-fields={opportunityFields}>
          </c-grv-email-management-opportunity-view>
        </div>
      </div>
    </div>
  </div>
  <template if:true={showSendEmailPanel}>
    <c-grv-email-management-send-email 
      onaction={handleComposerEvent} 
      context={actionContext}
      record-id={openedOpportunityId}
      record-name={openedOpportunityName}
      original-message={openedMessage}>
    </c-grv-email-management-send-email>
  </template>
  <template if:true={showEmailTemplateModal}>
    <c-grv-email-management-email-template-modal onselect={handleTemplateSelect} onclose={handleEmailTemplateModalClose}></c-grv-email-management-email-template-modal>
  </template>
</template>