<template>
  <c-grv-email-management-data-table-link 
    record-subject={value} 
    rec-id={typeAttributes.id} 
    url={typeAttributes.link} 
    label={typeAttributes.label}>
  </c-grv-email-management-data-table-link>
</template>