<template>
  <template if:false={typeAttributes.display}>
    <c-grv-email-management-data-table-checkbox 
      rec-id={typeAttributes.id}>
    </c-grv-email-management-data-table-checkbox>
  </template>
</template>