<template>
  <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered"
    aria-label="Example table of Opportunities with no row hovers">
    <thead>
      <tr class="slds-line-height_reset">
        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
          <div class="slds-truncate" title="Choose a row to select">Save</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Opportunity Name">Year</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Opportunity Name">Make</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Opportunity Name">Model</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Opportunity Name">Stock #</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Opportunity Name">Status</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Opportunity Name">Condition</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Opportunity Name">Class</div>
        </th>
        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
          <div class="slds-truncate" title="Choose a row to select">Send to CDK</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <template for:each={matches} for:item="inventory">
        <tr class="slds-hint-parent" key={inventory.Id}>
          <td class="slds-text-align_center" role="gridcell">
            <lightning-input type="checkbox" variant="label-hidden" name={inventory.Id} onchange={handleSelectForSave}>
            </lightning-input>
          </td>
          <th data-label="Year" scope="row">
            <div class="slds-truncate" title="Year">
              <span>{inventory.Year__c}</span>
            </div>
          </th>
          <th data-label="Make" scope="row">
            <div class="slds-truncate" title="Make">
              <span>{inventory.Make__c}</span>
            </div>
          </th>
          <th data-label="Model" scope="row">
            <div class="slds-truncate" title="Model">
              <span>{inventory.Model__c}</span>
            </div>
          </th>
          <th data-label="Stock #" scope="row">
            <div class="slds-truncate" title="Stock #">
              <span>{inventory.Stock_Number__c}</span>
            </div>
          </th>
          <th data-label="Status" scope="row">
            <div class="slds-truncate" title="Status">
              <span>{inventory.Status__c}</span>
            </div>
          </th>
          <th data-label="Condition" scope="row">
            <div class="slds-truncate" title="Condition">
              <span>{inventory.Condition__c}</span>
            </div>
          </th>
          <th data-label="Class" scope="row">
            <div class="slds-truncate" title="Class">
              <span>{inventory.Class__c}</span>
            </div>
          </th>
          <td class="slds-text-align_center" role="gridcell">
            <lightning-input type="checkbox" variant="label-hidden" name={inventory.Id} checked={inventory.checked} onchange={handleSelectForSendToCDK}>
            </lightning-input>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>