.message-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sender-info_label {
  color: rgb(84, 105, 141);
}

.sender-info_value {
  color: var(--lwc-brandTextLink, #0176d3);
  font-weight: 600;
}