<template>
  <div if:true={loading} style="position: relative; height: 100%">
    <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
  </div>
  <template if:true={message.Id}>
    <div class="message-header slds-page-header">
      <div class="slds-grid slds-grid_align-spread">
        <div class="slds-grid slds-grid_vertical-align-center slds-size_1-of-2">
          <lightning-icon icon-name="standard:email" class="slds-m-right_x-small"></lightning-icon>
          <div class="slds-page-header__title">
            {message.Subject}
          </div>
        </div>
        <div>
          <lightning-button-group>
            <lightning-button label="Reply" name="reply" onclick={handleActionClick}></lightning-button>
            <lightning-button label="Reply All" name="replyall" onclick={handleActionClick}></lightning-button>
            <lightning-button label="Forward" name="forward" onclick={handleActionClick}></lightning-button>
          </lightning-button-group>
        </div>
      </div>
    </div>
    <lightning-tabset>
      <lightning-tab label="Message">
        <div class="message-container slds-var-p-around_large">
          <div class="slds-var-p-bottom_large">
            <div class="slds-grid slds-grid_align-spread">
              <div>
                <span class="sender-info_label">From: </span>
                <span class="sender-info_value">{message.FromName}</span>
              </div>
              <div>
                {formattedMessageDate}
              </div>
            </div>
            <div>
              <span class="sender-info_label">To: </span>
              <span class="sender-info_value">{message.ToAddress}</span>
            </div>
            <div if:true={message.CcAddress}>
              <span class="sender-info_label">Сс: </span>
              <span class="sender-info_value">{message.CcAddress}</span>
            </div>
            <div if:true={message.BccAddress}>
              <span class="sender-info_label">Bcс: </span>
              <span class="sender-info_value">{message.BccAddress}</span>
            </div>
          </div>
          <lightning-formatted-rich-text value={message.HtmlBody}></lightning-formatted-rich-text>
        </div>
      </lightning-tab>
      <lightning-tab label="Details" title="2nd tab extended title">
        <div class="slds-grid slds-var-p-around_large">
          <div class="slds-size_1-of-2">
            <div class="slds-form-element slds-form-element_readonly slds-grid slds-grow slds-hint-parent slds-p-around_xx-small">
              <div class="test-id__field-label-container slds-form-element__label slds-size_2-of-5">
                <span>Message Date</span>
              </div>
              <div class="slds-form-element__control slds-grid">
                <lightning-formatted-date-time 
                  value={message.MessageDate} 
                  year="numeric" 
                  month="numeric" 
                  day="numeric" 
                  hour="2-digit"
                  minute="2-digit" 
                  time-zone={_tz.timeZone} 
                  hour12="true">
                </lightning-formatted-date-time>
              </div> 
            </div>
            <div class="slds-form-element slds-form-element_readonly slds-grid slds-grow slds-hint-parent slds-p-around_xx-small">
              <div class="test-id__field-label-container slds-form-element__label slds-size_2-of-5">
                <span>Created By</span>
              </div>
              <div class="slds-form-element__control slds-grid">
                <lightning-formatted-url
                  class="slds-p-right_x-small"
                  label={message.CreatedBy.Name}
                  value={creatorUserLink}
                  target="_blank">
                </lightning-formatted-url>
                <lightning-formatted-date-time 
                  value={message.CreatedDate} 
                  year="numeric" 
                  month="numeric" 
                  day="numeric" 
                  hour="2-digit"
                  minute="2-digit" 
                  time-zone={_tz.timeZone} 
                  hour12="true">
                </lightning-formatted-date-time>
              </div> 
            </div>
          </div>
          <div class="slds-size_1-of-2"></div>
        </div>
      </lightning-tab>
    </lightning-tabset>
  </template>
  <template if:false={message.Id}>
    <c-grv-illustration name="No Content" text="Select a message to display."></c-grv-illustration>
  </template>
</template>