<template>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="modal-container slds-modal__container">
      <header class="slds-modal__header">
        <lightning-button-icon 
          class="slds-modal__close" 
          variant="border-inverse" 
          icon-name="utility:close" 
          size="large" 
          onclick={handleCancel}>
        </lightning-button-icon>
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Credit Application</h2>
      </header>
      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <lightning-spinner  
          if:true={isLoading}
          alternative-text="Loading" 
          size="small">
        </lightning-spinner>
        <template if:true={errorMessage}>{errorMessage}</template>
        <template if:false={errorMessage}>
          <lightning-record-edit-form
            if:true={isDraftLoaded}
            object-api-name="Credit_Application__c"
            onsuccess={handleSuccess}
            layout-type="Full"
            onload={handleLoad}
            onerror={handleError}>
            <lightning-messages></lightning-messages>
            <template if:true={uiRecordEdit}>
              <lightning-layout multiple-rows="true">
                <lightning-layout-item size="12">
                  <template for:each={uiRecordEdit.sections} for:item="section">
                      <lightning-layout key={section.id} multiple-rows="true">
                        <h3 class="slds-section__title slds-theme_shade" style="width: 100%;">
                          <span class="section-header-title slds-p-horizontal_small slds-truncate">
                            {section.heading}
                          </span>
                        </h3>
                        <template for:each={section.layoutRows} for:item="layoutRow">
                          <template for:each={layoutRow.layoutItems} for:item="layoutItem">
                            <template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
                              <lightning-layout-item key={layoutComponent.apiName} size="6" padding="horizontal-small">
                                <template if:false={editable}>
                                  <lightning-input-field
                                    field-name={layoutComponent.apiName}
                                    value={layoutComponent.value}
                                    required={layoutItem.required}>
                                  </lightning-input-field>
                                </template>
                              </lightning-layout-item>
                            </template>
                          </template>
                        </template>
                      </lightning-layout>
                  </template>
                </lightning-layout-item>
              </lightning-layout>
            </template>
            <div class="slds-grid slds-m-top_small slds-grid--align-end">
              <lightning-button
                onclick={handleCancel}
                label="Cancel">
              </lightning-button>
              <lightning-button
                variant="brand"
                class="slds-p-left_xx-small"
                type="submit"
                label="Save">
              </lightning-button>
            </div>
          </lightning-record-edit-form>
        </template>
      </div>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>