<template>
  <div class="slds-rich-text-editor slds-grid slds-grid_vertical slds-nowrap">
    <div role="toolbar" class="slds-rich-text-editor__toolbar slds-shrink-none">
      <lightning-combobox
        class="slds-m-right_xx-small slds-p-left_xx-small"
        variant="label-hidden"
        options={fonts}
        data-command="fontName"
        value={_defaultFont}
        onchange={handleMenuSelect}
        placeholder="Font">
      </lightning-combobox>
      <lightning-combobox
        style="width: 76px;"
        class="slds-m-right_xx-small"
        variant="label-hidden"
        options={fontSizes}
        value={_defaultSize}
        data-command="fontSize"
        onchange={handleMenuSelect}
        placeholder="Size">
      </lightning-combobox>
      <lightning-button-group>
        <lightning-button-icon icon-name="utility:bold" variant="border-filled" alternative-text="Bold" data-command="bold" onclick={execCommand}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:italic" variant="border-filled" alternative-text="Italic" data-command="italic" onclick={execCommand}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:underline" variant="border-filled" alternative-text="Underline" data-command="underline" onclick={execCommand}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:strikethrough" variant="border-filled" alternative-text="Strike Through" data-command="strikeThrough" onclick={execCommand}></lightning-button-icon>
      </lightning-button-group>
      <lightning-button-group class="slds-m-top_xx-small">
        <lightning-button-icon icon-name="utility:richtextbulletedlist" variant="border-filled" alternative-text="Bulleted list" data-command="insertUnorderedList" onclick={execCommand}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:richtextnumberedlist" variant="border-filled" alternative-text="Numbered list" data-command="insertOrderedList" onclick={execCommand}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:richtextindent" variant="border-filled" alternative-text="Indent" data-command="indent" onclick={execCommand}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:richtextoutdent" variant="border-filled" alternative-text="Outdent" data-command="outdent" onclick={execCommand}></lightning-button-icon>
      </lightning-button-group>
      <lightning-button-group class="slds-m-top_xx-small">
        <lightning-button-icon icon-name="utility:insert_template" variant="border-filled" alternative-text="Insert Template" onclick={handleInsertTemplate}></lightning-button-icon>
      </lightning-button-group>
    </div>
  </div>
  <div 
    class="modal-body slds-col slds-modal__content slds-p-around_medium" 
    id="modal-content-id-1" 
    style="min-height: 278px; box-shadow: none;"
    contenteditable="true" 
    lwc:dom="manual" 
    onkeyup={handleEditorChangeBody}
    onmouseup={handleEditorChangeBody}
    onblur={handleEditorChange}>
  </div>
</template>