<template>
  <div class="slds-grid slds-grid slds-grid_vertical">
    <div class="slds-grid slds-grid_align-spread">
      <lightning-pill-container variant="bare" items={items} onitemremove={handlePillRemove}></lightning-pill-container>
      <!-- <div onclick={expandInput}>Add</div> -->
      <lightning-button-icon class="slds-p-top_xx-small" icon-name="action:new" size="small" onclick={expandCollapseInput}></lightning-button-icon>
    </div>
    <div if:true={isInputExpanded} class="slds-form-element__control" style="width: 100%;">
      <input name="toAddress" type="text" class="slds-input" onchange={handleInputChange} placeholder="Type email here"/>
    </div>
  </div>
</template>