<template>
  <div class="slds-card">
    <div class="slds-card__body slds-var-p-horizontal_small">
      <lightning-spinner  
        if:true={isLoading}
        alternative-text="Loading" 
        size="small">
      </lightning-spinner>
      <template if:true={dealInfo.CDK_Credit_Inserted_Date__c}>
        <div class="slds-grid slds-grid_align-center slds-grid_vertical-align-center">
          <lightning-icon 
            icon-name="action:approval" 
            size="xx-small">
          </lightning-icon>
          <lightning-formatted-date-time 
            class="slds-var-p-left_small"
            value={dealInfo.CDK_Credit_Inserted_Date__c} 
            year="numeric" 
            day="2-digit" 
            month="long" 
            hour="2-digit"
            minute="2-digit"
            time-zone="America/Los_Angeles">
          </lightning-formatted-date-time>
          <div class="slds-var-p-left_x-small">(Credit Application)</div>
        </div>
      </template>
      <template if:false={dealInfo.CDK_Credit_Inserted_Date__c}>
        <button 
          class="slds-button slds-button_success slds-button_stretch " 
          onclick={handleOpenModal}
          disabled={isDisabled}>
          Send Credit Application
        </button>
        <template if:true={isDisabled}>
          <div class="blockquote slds-p-around_x-small slds-m-top_xx-small">
            <div>{validationMessage}</div>
          </div> 
        </template>
        <template if:false={insertResult.success}>
          <p>{insertResult.message}</p>
        </template>
      </template> 
      <!-- <lightning-record-edit-form 
        object-api-name="Credit_Application__c" 
        onload={handleLoad}>
        <lightning-messages> </lightning-messages>
        <lightning-input-field field-name="Opportunity__c" value={recordId}> </lightning-input-field>
        <lightning-button
            class="slds-m-top_small"
            type="submit"
            label="Create new"
        >
        </lightning-button>
    </lightning-record-edit-form>    -->
    </div>
  </div>
  <template if:true={openModal}>
    <c-cdk-credit-app-insert-form 
      is-loading={loadingModal}
      record-id={recordId}
      oninsert={handleCreditAppInsert}
      oncancel={handleModalCancel}>
    </c-cdk-credit-app-insert-form>
  </template>
</template>