.THIS .slds-modal__container {
  max-width: 80rem !important;
}

.THIS .slider-label_dollar .slds-slider-label::before,
.THIS .slider-label_dollar .slds-slider__value::before {
  content: '$';
}

.THIS .slider-label_lbs .slds-slider-label::after,
.THIS .slider-label_lbs .slds-slider__value::after {
  content: 'lbs';
}

.THIS .slider-label_inch .slds-slider-label::after,
.THIS .slider-label_inch .slds-slider__value::after {
  content: '\'';
}

.THIS .slds-spinner_container {
  background: unset !important;
}