<template>
  <div class="section slds-var-m-vertical_xx-small">
    <div class="section-title slds-grid_vertical-align-center slds-var-p-around_small slds-grid slds-grid_align-spread"
      onclick={toggleSection}>
      <div class="slds-text-heading_label-normal">{title}</div>
      <div class="slds-grid slds-grid_vertical-align-center">
        <template if:true={showIndicator}>
          <div class="indicator slds-var-m-right_large"></div>
        </template>
        <lightning-icon class={iconClass} icon-name="utility:chevronright" size="x-small" alternative-text="Expand"
          title="Expand">
        </lightning-icon>
      </div>
    </div>
    <template if:true={isExpanded}>
      <div class="section-body slds-p-around_small">
        <slot></slot>
      </div>
    </template>
  </div>
</template>