.section-title {
  background-color: var(--lwc-colorBackground);
}

.section-title:hover {
  cursor: pointer;
  background-color: var(--lwc-colorBackgroundRowActive);
}

.transition {
  transition: all .2s ease-out;
}

.rotate0 {
  transform: rotate(0deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.indicator {
  background-color: orange;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}