.slds-docked_container {
  z-index: 1000;
  /* bottom: 40px; */
}

.slds-docked-composer.slds-is-open {
  height: 628px;
}


.slds-docked-composer__body {
  max-height: 526px;
  overflow-y: scroll;
}

.slds-input[disabled], .slds-input.slds-is-disabled {
  background-color: unset;
}

.form-element {
  border-bottom: 1px solid rgb(221, 219, 218);
}

.form-element label {
  width: 16%;
}

.file-pill {
  border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
  border-radius: var(--lwc-borderRadiusMedium,0.25rem);
}