<template>
  <div class="slds-docked_container">
    <section class={classPanel} role="dialog"
    aria-labelledby="dialog-heading-id-1" aria-describedby="dialog-content-id-1">
    <lightning-spinner if:true={_isLoading} size="small"></lightning-spinner>
    <header class="slds-docked-composer__header slds-grid slds-shrink-none" aria-live="assertive">
        <div class="slds-media slds-media_center slds-no-space">
          <div class="slds-media__figure slds-m-right_x-small">
            <lightning-icon icon-name="utility:email" size="small"></lightning-icon>
          </div>
          <div class="slds-media__body">
            <h2 class="slds-truncate" id="dialog-heading-id-1" title="New Email">{originalMessage.subject}</h2>
          </div>
        </div>
        <div class="slds-col_bump-left slds-shrink-none">
          <lightning-button-icon 
            class="slds-p-around_xx-small" 
            icon-name="utility:minimize_window" 
            variant="bare" 
            title="Minimize Composer Panel"
            size="medium"
            onclick={handlePanelExpandCollapse}>
          </lightning-button-icon>
          <!-- <lightning-button-icon 
            class="slds-p-around_xx-small" 
            icon-name="utility:expand_alt" 
            variant="bare" 
            title="Expand Composer Panel"
            size="medium">
          </lightning-button-icon> -->
          <lightning-button-icon 
            class="slds-p-around_xx-small" 
            icon-name="utility:close" 
            variant="bare" 
            title="Close Composer Panel" 
            size="medium"
            onclick={handlePanelClose}>
          </lightning-button-icon>
        </div>
      </header>
      <div class="slds-docked-composer__body" id="dialog-content-id-1">
        <div class="slds-email-composer">
          <div class="slds-form-element slds-grid slds-grid_vertical-align-center form-element">
            <label class="slds-p-left_x-small slds-form-element__label">From</label>
            <div class="slds-form-element__control" style="width: 100%;">
              <input type="text" class="slds-input slds-input_bare" disabled value={originalMessage.fromAddress}/>
            </div>
          </div>
          <div class="slds-form-element slds-grid slds-grid_vertical-align-center form-element">
            <label class="slds-p-left_x-small slds-form-element__label">To</label>
            <c-grv-email-management-send-email-pills 
              class="slds-p-horizontal_x-small" 
              context="toAddresses" 
              items={originalMessage.toAddresses} 
              onadd={handlePillAdd} 
              onremove={handlePillRemove}>
            </c-grv-email-management-send-email-pills>
          </div>
          <div class="slds-form-element slds-grid slds-grid_vertical-align-center form-element">
            <label class="slds-p-left_x-small slds-form-element__label">Cc</label>
            <c-grv-email-management-send-email-pills 
              class="slds-p-horizontal_x-small" 
              context="ccAddresses" 
              items={originalMessage.ccAddresses} 
              onadd={handlePillAdd} 
              onremove={handlePillRemove}>
            </c-grv-email-management-send-email-pills>
          </div>
          <div class="slds-form-element slds-grid slds-grid_vertical-align-center form-element">
            <label class="slds-p-left_x-small slds-form-element__label">Bcc</label>
            <c-grv-email-management-send-email-pills 
              class="slds-p-horizontal_x-small" 
              context="bccAddresses" 
              items={originalMessage.bccAddresses} 
              onadd={handlePillAdd} 
              onremove={handlePillRemove}>
            </c-grv-email-management-send-email-pills>
          </div>
          <div class="slds-form-element slds-grid slds-grid_vertical-align-center form-element">
            <label class="slds-p-left_x-small slds-form-element__label">Subject</label>
            <div class="slds-form-element__control" style="width: 100%;">
              <input name="subject" type="text" class="slds-input slds-input_bare" onchange={handleInputChange} value={originalMessage.subject}/>
            </div>
          </div>
          <div class="slds-form-element">
            <div class="slds-form-element__control">
              <c-grv-email-management-send-email-editor 
                body={originalMessage.body}
                onbodychange={handleHtmlBodyChange}
                onaction={handleEditorAction}>
              </c-grv-email-management-send-email-editor>
              <template if:true={uploadedFiles.length}>
                <template for:each={uploadedFiles} for:item="file">
                  <div key={file.documentId} class="slds-grid slds-grid_vertical-align-center slds-p-around_x-small slds-m-around_small slds-grid_align-spread file-pill">
                    <div class="slds-grid slds-grid_vertical-align-center">
                      <lightning-icon 
                        class="slds-m-right_x-small" 
                        icon-name="doctype:attachment" 
                        size="small">
                      </lightning-icon>
                      {file.name}
                    </div>
                    <lightning-button-icon 
                      variant="bare" 
                      icon-name="utility:close" 
                      size="small"
                      data-document={file.documentId}
                      onclick={handleFileRemove}>
                    </lightning-button-icon>
                  </div>
                </template>
              </template>
            </div>
          </div>
        </div>
      </div>
      <footer class="slds-docked-composer__footer slds-shrink-none">
        <div class="slds-col_bump-right slds-grid slds-grid_vertical-align-center">
          <div if:true={recordId}>
            <span>Related To </span>
            <lightning-formatted-url 
              value={opportunityUrl} 
              label={opportunityName} 
              target="_blank">
            </lightning-formatted-url>
          </div>
        </div>
        <div class="slds-col_bump-left slds-grid slds-grid_vertical-align-center">
          <div class="slds-grid slds-m-right_small" role="toolbar">
            <ul class="slds-grid" aria-label="Insert content">
              <li>
                <div>
                  <lightning-button-icon icon-name="utility:attach" size="small" style="position: absolute;"></lightning-button-icon>
                  <lightning-file-upload
                    class="fileUploader"
                    label="Attach receipt"
                    name="fileUploader"
                    onuploadfinished={handleUploadFinished}
                    multiple>
                  </lightning-file-upload>
                </div>
              </li>
            </ul>
          </div>
          <button class="slds-button slds-button_brand" onclick={handleSendClick}>Send</button>
        </div>
      </footer>
    </section>
  </div>
</template>