.row-bold {
  font-weight: 700;
}

.slds-rich-text-editor.slds-has-focus {
  border-color: none;
  box-shadow: unset;
}

.slds-docked_container .slds-pill_container {
  border: none;
  display: block;
}

.fileUploader {
  cursor: pointer;
} 
.fileUploader .slds-form-element__label, 
.fileUploader .slds-file-selector__text { 
  display: none;
}

.fileUploader .slds-file-selector__button {
  opacity: 0;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  width: 18px;
  height: 11px;
}

.fileUploader .slds-file-selector__button svg {

}

/* .fileUploader .slds-file-selector__body:after{
  cursor: pointer;
  content: 'aaaaa';
} */