<template>
  <template if:true={isLoading}>
    <lightning-spinner alternative-text="Loading"></lightning-spinner>
  </template>
  <template if:false={showMatch}>
    <div class="section slds-var-m-bottom_large">
      <div class="section-title slds-text-heading_small slds-var-p-around_small">
        {CONSTANT.SECTION_CUSTOMER_INFORMATION}
      </div>
      <div class="slds-grid slds-grid_align-spread">
        <lightning-input 
          name="firstName" 
          disabled={isEditMode}
          class="requiredInput slds-size_2-of-5" 
          type="text" 
          label="First Name" 
          required={isLastNameEmpty}
          value={data.firstName}
          onchange={handleFieldChange}
          message-when-value-missing={CONSTANT.INPUT_NAME_MISSING_TEXT}>
        </lightning-input>
        <lightning-input 
          name="lastName" 
          disabled={isEditMode}
          class="requiredInput slds-size_2-of-5" 
          type="text" 
          label="Last Name" 
          required={isFirstNameEmpty}
          value={data.lastName}
          onchange={handleFieldChange}
          message-when-value-missing={CONSTANT.INPUT_NAME_MISSING_TEXT}>
        </lightning-input>
      </div>
      <div class="slds-grid slds-grid_align-spread">
        <lightning-input 
          name="email" 
          disabled={isEditMode}
          class="requiredInput slds-size_2-of-5" 
          type="email" 
          value={data.email}
          label="Email"
          onchange={handleFieldChange} 
          pattern="^[a-z0-9._%+-]+@([\w-]+\.)+[\w-]{2,4}$">
        </lightning-input>
        <lightning-input 
          name="phone" 
          disabled={isEditMode}
          class="requiredInput slds-size_2-of-5" 
          value={data.phone}
          type="text" 
          label="Phone Name"
          onchange={handleFieldChange}>
        </lightning-input>
      </div>
      <div class="slds-grid slds-grid_align-spread">
        <lightning-input 
          name="spouseName" 
          disabled={isEditMode}
          class="slds-size_2-of-5" 
          type="text" 
          label="Spouse Name" 
          value={data.spouseName}
          onchange={handleFieldChange}>
        </lightning-input>
        <lightning-input-address
          name="personMailingAddress" 
          street={data.personMailingAddress.street}
          province={data.personMailingAddress.province}
          postal-code={data.personMailingAddress.postalCode}
          country={data.personMailingAddress.country}
          city={data.personMailingAddress.city}
          disabled={isEditMode}
          class="slds-size_2-of-5" 
          variant="label-hidden"
          street-label="Street"
          city-label="City"
          country-label="Country"
          province-label="Province"
          postal-code-label="PostalCode"
          onchange={handleFieldChange}>
        </lightning-input-address>
      </div>
    </div>
    <div class="section">
      <div
        class="section-title slds-var-p-around_small slds-grid slds-grid_align-spread slds-grid_vertical-align-center">
        <span class="slds-text-heading_small">{CONSTANT.SECTION_RV_INFORMATION}</span>
        <div>
          <template if:true={isEditMode}>
            <lightning-button-icon 
              class="slds-var-p-right_x-small" 
              icon-name="utility:clear" 
              size="x-small"
              alternative-text="Clear all" 
              tooltip="Clear all search criteria" 
              onclick={clearAll}>
            </lightning-button-icon>
          </template>
          <lightning-button-icon 
            class="slds-var-p-right_x-small" 
            icon-name="utility:expand_all" 
            size="x-small"
            alternative-text="Expand all" 
            tooltip="Expand all" 
            onclick={expandAll}>
          </lightning-button-icon>
          <lightning-button-icon 
            icon-name="utility:collapse_all" 
            size="x-small" 
            alternative-text="Collapse all"
            tooltip="Collapse all" 
            onclick={collapseAll}>
          </lightning-button-icon>
        </div>
      </div>
      <lightning-input 
        class="slds-var-m-bottom_medium" 
        name="stockNumber" 
        label="Search by a Stock #" 
        type="search"
        placeholder={CONSTANT.INPUT_STOCK_PLACEHOLDER}
        onchange={handleFieldChange}>
      </lightning-input>
      <c-grv-new-opportunity-section title="Condition" show-indicator={data.condition}>
        <lightning-radio-group 
          name="condition" 
          variant="label-hidden" 
          options={conditionOptions} 
          type="radio"
          onchange={handleFieldChange} 
          value={data.condition}>
        </lightning-radio-group>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="Price" show-indicator={showRvPriceIndicator}>
        <div class="slds-grid slds-align_absolute-center">
          <div class="slds-grid">
            <lightning-input 
              class="slds-var-p-right_x-small" 
              placeholder="$1,000" 
              name="rvPriceMin" 
              formatter="currency" 
              type="number"
              label="Min" 
              value={data.rvPriceMin} 
              onchange={handleFieldChange} 
              min="1000" 
              max="1000000">
            </lightning-input>
            <lightning-input 
              class="slds-var-p-left_x-small" 
              placeholder="$1,000,000" 
              name="rvPriceMax" 
              formatter="currency" 
              type="number"
              label="Max" 
              value={data.rvPriceMax} 
              onchange={handleFieldChange} 
              min="1000" 
              max="1000000">
            </lightning-input>
          </div>
        </div>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="RV Type" show-indicator={showRvTypeIndicator}>
        <lightning-dual-listbox 
          name="rvTypeValue" 
          variant="label-hidden" 
          disable-reordering source-label="Available"
          selected-label="Selected" 
          options={rvTypeOptions} 
          onchange={handleFieldChange} 
          value={data.rvTypeValue}>
        </lightning-dual-listbox>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="Make/Model" show-indicator={showModelMakeIndicator}>
        <div class="slds-grid">
          <lightning-dual-listbox 
            class="slds-size_1-of-2 slds-var-p-right_medium" 
            name="rvMakeValue"
            variant="label-hidden" 
            disable-reordering 
            source-label="Available" 
            selected-label="Selected"
            options={rvMakeOptions} 
            onchange={handleFieldChange} 
            value={data.rvMakeValue}>
          </lightning-dual-listbox>
          <lightning-dual-listbox 
            class="slds-size_1-of-2 slds-var-p-left_medium" 
            name="rvModelValue"
            variant="label-hidden" 
            disable-reordering source-label="Available" 
            selected-label="Selected"
            options={rvModelOptions} 
            onchange={handleFieldChange} 
            value={data.rvModelValue}>
          </lightning-dual-listbox>
        </div>
        <div class="slds-grid">
          <div class="slds-size_1-of-2 slds-var-p-right_medium">
            <template if:true={isMakeEmpty}>
              <lightning-input 
                name="rvMakeCustom" 
                placeholder={CONSTANT.INPUT_MAKE_CUSTOM_PLACEHOLDER} 
                type="text"
                label="Custom Make" 
                onchange={handleFieldChange} 
                value={data.rvMakeCustom}>
              </lightning-input>
            </template>
          </div>
          <div class="slds-size_1-of-2 slds-var-p-left_medium">
            <template if:true={isModelEmpty}>
              <lightning-input 
                name="rvModelCustom" 
                placeholder={CONSTANT.INPUT_MODEL_CUSTOM_PLACEHOLDER} 
                type="text"
                label="Custom Model" 
                onchange={handleFieldChange} 
                value={data.rvModelCustom}>
              </lightning-input>
            </template>
          </div>
        </div>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="Floorplan Type" show-indicator={data.rvFloorplanValue}>
        <lightning-dual-listbox 
          name="rvFloorplanValue" 
          variant="label-hidden" 
          disable-reordering
          source-label="Available" 
          selected-label="Selected" 
          options={rvFloorplanOptions} 
          onchange={handleFieldChange}
          value={data.rvFloorplanValue}>
        </lightning-dual-listbox>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="Dry Weight" show-indicator={showDryWeightIndicator}>
        <div class="slds-grid slds-align_absolute-center">
          <div class="slds-grid">
            <lightning-input 
              class="slds-var-p-right_x-small" 
              min="2500" 
              max="30000" 
              placeholder="2500lbs" 
              name="rvDryWeightMin" 
              formatter="decimal" 
              type="number"
              label="Min" 
              value={data.rvDryWeightMin} 
              onchange={handleFieldChange}>
            </lightning-input>
            <lightning-input 
              class="slds-var-p-left_x-small" 
              min="2500"
              max="30000" 
              placeholder="30000lbs" 
              name="rvDryWeightMax" 
              formatter="decimal" 
              type="number"
              label="Max" 
              value={data.rvDryWeightMax} 
              onchange={handleFieldChange}>
            </lightning-input>
          </div>
        </div>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="Fuel Type" show-indicator={data.rvFuelType}>
        <lightning-radio-group 
          name="rvFuelType" 
          variant="label-hidden" 
          options={rvFuelTypeOptions} 
          type="radio"
          onchange={handleFieldChange} 
          value={data.rvFuelType}>
        </lightning-radio-group>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="Garage Length" show-indicator={showGarageLength}>
        <div class="slds-grid slds-align_absolute-center">
          <div class="slds-grid">
            <lightning-input 
              class="slds-var-p-right_x-small" 
              min="0"
              max="20"
              placeholder="0'" 
              name="rvGarageLengthMin" 
              formatter="decimal" 
              type="number"
              label="Min" 
              value={data.rvGarageLengthMin} 
              onchange={handleFieldChange}>
            </lightning-input>
            <lightning-input 
              class="slds-var-p-left_x-small" 
              min="0"
              max="20" 
              placeholder="20'" 
              name="rvGarageLengthMax" 
              formatter="decimal" 
              type="number"
              label="Max" 
              value={data.rvGarageLengthMax} 
              onchange={handleFieldChange}>
            </lightning-input>
          </div>
        </div>
      </c-grv-new-opportunity-section>
      <c-grv-new-opportunity-section title="Physical Length" show-indicator={showPhysicalLength}>
        <div class="slds-grid slds-align_absolute-center">
          <div class="slds-grid">
            <lightning-input 
              class="slds-var-p-right_x-small" 
              min="10" 
              max="45"
              placeholder="10'" 
              name="rvPhysicalLengthMin" 
              formatter="decimal" 
              type="number"
              label="Min" 
              value={data.rvPhysicalLengthMin} 
              onchange={handleFieldChange}>
            </lightning-input>
            <lightning-input 
              class="slds-var-p-left_x-small" 
              min="10"
              max="45" 
              placeholder="45'" 
              name="rvPhysicalLengthMax" 
              formatter="decimal" 
              type="number"
              label="Max" 
              value={data.rvPhysicalLengthMax} 
              onchange={handleFieldChange}>
            </lightning-input>
          </div>
        </div>
      </c-grv-new-opportunity-section>
    </div>
    <div class="slds-grid slds-grid_align-center slds-var-m-top_x-large">
      <lightning-button label="Cancel" title="Cancel" onclick={handleCancel} class="slds-m-left_x-small">
      </lightning-button>
      <lightning-button variant="brand" label="Search" title="Selected vehicles will be linked to the Opportunity"
        onclick={handleSearch} class="slds-m-left_x-small">
      </lightning-button>
    </div>
  </template>
  <template if:true={showMatch}>
    <c-grv-new-opportunity-matches matches={matches} onselect={handleMatchSelect} onselectcdk={handleCDKSelect}></c-grv-new-opportunity-matches>
    <div class="slds-grid slds-grid_align-end slds-var-m-top_x-large">
      <lightning-button label="Cancel" title="Cancel" onclick={handleCancel} class="slds-m-left_x-small">
      </lightning-button>
      <lightning-button variant="brand" label="Save" title="Non-primary action" class="slds-m-left_x-small"
        onclick={handleSaveMatches}>
      </lightning-button>
      <lightning-button variant="brand" label="Send to CDK" title="Non-primary action" class="slds-m-left_x-small">
      </lightning-button>
    </div>
  </template>
</template>