<template>
  <div class="slds-panel slds-size_medium slds-panel_docked slds-panel_docked-left slds-is-open" aria-hidden="false">
    <div class="slds-panel__header slds-grid">
      <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate" title="Panel Header">Email Management
      </h2>
      <lightning-button-icon 
        icon-name="utility:refresh"  
        alternative-text="Refresh" 
        class="slds-var-p-right_xxx-small" 
        title="Refresh"
        onclick={handleRefreshClick}>
      </lightning-button-icon>
    </div>
    <div class="slds-panel__body filters">
      <div class="slds-grid slds-grid_vertical-align-center slds-var-m-bottom_medium">
        <label class="slds-var-p-right_small">Select User</label>
        <lightning-combobox 
          name="address"
          options={userOptions} 
          variant=label-hidden
          value={filter.address}
          onchange={handleFilterChange}>
        </lightning-combobox>
      </div>
      <div class="slds-grid slds-grid_vertical-align-center slds-var-m-bottom_medium">
        <label class="slds-var-p-right_small">Show Emails</label>
        <lightning-combobox 
          name="emailOption"
          options={emailTypeOptions} 
          value={filter.emailOption}
          variant=label-hidden
          onchange={handleFilterChange}>
        </lightning-combobox>
      </div>
      <div class="slds-grid slds-grid_vertical-align-center slds-var-m-bottom_medium">
        <label class="slds-var-p-right_small">Start Date</label>
        <lightning-input
          name="startDate"
          value={filter.startDate}
          type="date"
          variant=label-hidden
          onchange={handleFilterChange}>
        </lightning-input>
      </div>
      <div class="slds-grid slds-grid_vertical-align-center slds-var-m-bottom_medium">
        <label class="slds-var-p-right_small">End Date</label>
        <lightning-input
          name="endDate"
          value={filter.endDate}
          type="date"
          variant=label-hidden
          onchange={handleFilterChange}>
        </lightning-input>
      </div>
      <template if:true={selectedRecords.length}>
        <div class="slds-grid slds-grid_vertical-align-center slds-var-m-bottom_medium">
          <button 
            class="slds-button slds-button_text-destructive slds-button_stretch " 
            onclick={handleDelete}>
            Delete   
          </button>
        </div>
      </template>
    </div>
  </div>
</template>